<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/branches/release5.2.0/"/>
